.display-4{
    font-size: 2.075rem;
    font-weight: 600;
    line-height: 1.5;
}

.alert_mark{
    color:#fb6340;
}

.alert_message{
    text-align: center;
    font-size: 1.25em;
}

.alert-warning {
    color: #fff;
    background-color: #d1cecd;
    border-color: #d1cecd;
}

.display_not_showing{
    display: none !important;
}